a {
  display: inline-block;
  background-color: var(--td-Verylightgray);
  font-size: var(--fs-18);
  padding: 11px 25px;
  border-radius: 40px;
  text-decoration: none;
}

a:hover,
a:focus {
  opacity: 0.8;
}
